Repository stalker14-project/stalker-14, pull requests merged in 2025-01, with the labels that each got.

#226 STBatMolitoslov fix for Dantonav
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Melee/bats.yml
Labels: Changes: No C#

#225 Фикс спрайтов чёрной горки
  Resources/Textures/_Stalker/Clothing/Legs/Jeans/gorka6b.rsi/equipped-LEGS.png
Labels: Changes: Sprites, Changes: No C#

#221 Добавил новые нашивку для серафимо
  Resources/Prototypes/_Stalker/Roles/Jobs/seraphims.yml
  Resources/Prototypes/_Stalker/StatusIcon/BandIcons.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/meta.json
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/seraph.png
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/seraph_officer.png
Labels: Changes: Sprites, Changes: No C#

#229 GP-5 resprite
  Resources/Textures/_Stalker/Objects/Clothing/mask/gp5.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gp5.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gp5.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#228 Добавил декоративный спуск
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/descent.yml
  Resources/Textures/_Stalker/Objects/Decoration/descent.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Decoration/descent.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#227 Обнова Бронекомбеза
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/stalker_barsuk.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/stalker_barsuk.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/stalker_barsuk.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/stalker_barsuk.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/stalker_barsuk.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#223 Новый жилет ЧН вместо ООН
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T2/ArmorPlateVestLight.yml
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/clear_sky_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/clear_sky_armor.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/clear_sky_armor.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/clear_sky_armor.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/clear_sky_armor.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#242 Одежда жаб вместо сталкерской для жаб.
  Resources/Prototypes/_Stalker/Roles/Jobs/toads.yml
Labels: Changes: No C#

#239 Стены и тайлы лавы
  Resources/Prototypes/_Stalker/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Stalker/Tiles/lava.yml
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/full.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava0.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava1.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava2.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava3.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava4.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava5.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava6.png
  Resources/Textures/_Stalker/Structures/Walls/wall_lava.rsi/wall_lava7.png
  Resources/Textures/_Stalker/Tiles/lava.png
Labels: Changes: Sprites, Changes: No C#

#243 AxoLOLs armor names
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T1/LightHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/InfantryHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/VityazHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/AssaultHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/MakeshiftHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/Clothing.lnk
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorZarya.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/environment-protection.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ANATactical.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorIOTV.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorSuitHeavy.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/MakeshiftOuterArmor.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorPlateVestHeavy.yml
Labels: Changes: No C#

#238 Фикс иконки серафимов
  Resources/Prototypes/_Stalker/Roles/Jobs/seraphims.yml
Labels: Changes: No C#

#233 Новые плащи
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/cloaks.yml
  Resources/Textures/_Stalker/Objects/Clothing/cloak/beige.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/beige.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/beige.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/cloak/black.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/black.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/black.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/cloak/brown.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/brown.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/brown.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/cloak/green.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/green.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/green.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/cloak/navy.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/navy.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/navy.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#237 Добавил две пары двухстронего телепорта для подземки свалки и бара
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/map.yml
Labels: Changes: No C#

#231 Добавил урон от выброса
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Changes: No C#

#240 Кастомки QEWAEWA2
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AK_74.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/SCAR_H.yml
  Resources/Prototypes/_Stalker/_Sponsors/sponsor.yml
  Resources/Textures/_Stalker/Clothing/OuterClothing/keeper.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/keeper.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/keeper.rsi/inhand-left.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/keeper.rsi/inhand-right.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/keeper.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/keeper.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/keeper.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/keeper.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/keeper.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/keeper.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/equipped-BACKPACК.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/muzzle.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/scope.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A-545.rsi/wielded-inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/muzzle.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/scope.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ARX160.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#235 Всё что скрывало волосы при надевании снова их скрывает
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/HeadClothing.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T1/LightHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T1/SH68.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/InfantryHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/TinfoilHat.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/VityazHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/AssaultHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/MakeshiftHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/Sphere08.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/_Skins/Altyn.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T4/6Б47Helmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T4/Sphere.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T4/Ulach.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T5/CN3a.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T5/FastHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T5/PSZ9D.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T1/Xoma.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T2/GP5.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T3/M50.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T4/M51.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T5/RCBZ2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Jacket.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorCN1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorRCBZ.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorSpark.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/environment-protection.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorReinger.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSeva.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorSSP24.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorYeger.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorExoskeleton.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorHazmat.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorUzk5.yml
Labels: Changes: No C#

#244 Невидимая стена и фиксы.
  Content.Shared/_Stalker/Crafting/Prototypes/CraftingPrototype.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/detectors.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Stalker/weather.yml
Labels: Changes: No C#

#245 Переменовал название порталов
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/map.yml
Labels: Changes: No C#

#236 Добавил во все обычные аномалии анти-спавн аномалий генератора анома
  Resources/Prototypes/_Stalker/Entities/Objects/Anomalies/base.yml
Labels: Changes: No C#

#224 Guidebook&Intro
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Tutorial/Intro.xml
  Resources/ServerInfo/Guidebook/Tutorial/Mechanics.xml
  Resources/ServerInfo/Intro.txt
Labels: enhancement, Changes: No C#

#246 Убрал неснимаемость с вещей проекта
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Legs/pants.yml
  Resources/Prototypes/_Stalker/GroupsStalker/Project/project.yml
Labels: Changes: No C#

#247 Revert "Убрал неснимаемость с вещей проекта"
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Legs/pants.yml
  Resources/Prototypes/_Stalker/GroupsStalker/Project/project.yml
Labels: Changes: No C#

#255 Кастомный шлем для QEWAEWA2
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/InfantryHelmet.yml
  Resources/Prototypes/_Stalker/_Sponsors/sponsor.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/keeper_helmet.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/keeper_helmet.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/keeper_helmet.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#254 Авангард -> Долг
  Resources/Prototypes/_Stalker/Roles/Jobs/dolg.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/freedom.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/dolg.png
Labels: Changes: Sprites, Changes: No C#

#258 Пока Оазис! И Кордон!
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/mapLoader.yml
Labels: Changes: No C#

#260 guidebook 2: electric boogaloo
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/Tutorial/Intro.xml
  Resources/ServerInfo/Guidebook/Tutorial/Mechanics.xml
  Resources/ServerInfo/Intro.txt
Labels: Changes: No C#

#261 Удалил карты по новой блять
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/mapLoader.yml
Labels: Changes: No C#

#263 Fix Kostra
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Other/bonfire.yml
Labels: Changes: No C#

#268 Minor guidebook fix
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
Labels: Changes: No C#

#269 New pda v1
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Detectors/artifact.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/bands.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/freedom.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/seraphims.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/mapLoader.yml
  Resources/Prototypes/_Stalker/pda.yml
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response_cvoboda.rsi/active.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response_cvoboda.rsi/base.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response_cvoboda.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response_cvoboda.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Devices/mp3playerband.rsi/base.png
  Resources/Textures/_Stalker/Objects/Devices/mp3playerband.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#272 INSHALACH
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Throwable/Grenades/grenades.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: Changes: No C#

#275 Фиксы брони и оружия
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/MakeshiftHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/VityazHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/Armor6B2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ANATactical.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M14.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SniperRifles/SKS.yml
Labels: Changes: No C#
