Repository stalker14-project/stalker-14, pull requests merged in 2025-05, with the labels that each got.

#654 fixes
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/outerclothing/t1/jacketmods.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T1/StandardMask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/JacketMods.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/blinddog.yml
Labels: Changes: No C#, size/M

#624 Добавление экзоскелета ученым без брони
  Resources/Locale/ru-RU/_stalker/clothing/cloak/exoskeleton.ftl
  Resources/Prototypes/_Stalker/Actions/exoskeleton.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/cloaks.yml
  Resources/Prototypes/_Stalker/GameRules/events.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Textures/_Stalker/Objects/Clothing/cloak/exoskelet_science.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/exoskelet_science.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/exoskelet_science.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#656 Первая версия с НПС с ИИ.
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Stalker/AI/AIManager.cs
  Content.Server/_Stalker/AI/AINPCSystem.Chat.cs
  Content.Server/_Stalker/AI/AINPCSystem.History.cs
  Content.Server/_Stalker/AI/AINPCSystem.Items.cs
  Content.Server/_Stalker/AI/AINPCSystem.Punish.cs
  Content.Server/_Stalker/AI/AINPCSystem.Quests.cs
  Content.Server/_Stalker/AI/AINPCSystem.cs
  Content.Server/_Stalker/BiomesSpawner/STBiomeSpawnerComponent.cs
  Content.Shared/_Stalker/AI/AI_System_Documentation.md
  Content.Shared/_Stalker/AI/AiNpcComponent.cs
  Content.Shared/_Stalker/AI/SharedAiNpcSystem.cs
  Content.Shared/_Stalker/CCCCVars/CCCCVars.Sponsors.cs
  Content.Shared/_Stalker/CCCCVars/CCCCVars.cs
  Resources/ConfigPresets/StalkerBuild/stdebug.toml
  Resources/ConfigPresets/StalkerBuild/strelease.toml
  Resources/ConfigPresets/StalkerBuild/sttools.toml
  Resources/Locale/en-US/_stalker/ai/npc.ftl
  Resources/Locale/ru-RU/_stalker/ai/npc.ftl
  Resources/Maps/_ST/World/ac08ddb4-b6d4-4fcf-b12f-9f3f32834672.mp4
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Neck/dogtags.yml
  Resources/Prototypes/_Stalker/NPC/Donate/sidor.yml
  Resources/Prototypes/_Stalker/NPC/_NPC.yml
Labels: size/XL, S: Untriaged

#665 Объекты для маппинга
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/ashtray.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/brokenvendors.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/cone.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/radiostation.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/transport.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/furniture/misc.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/power/aps.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/walls/fence/lattice_fence.ftl
  Resources/Prototypes/_Stalker/Decals/Flora.yml
  Resources/Prototypes/_Stalker/Decals/graffiti.yml
  Resources/Prototypes/_Stalker/Decals/hatch.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/ashtray.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/broken_vendors.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/cone.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/gas_stove.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/lenin.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radiostation.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/rustic_toilet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/transport.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/misc.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Power/aps.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Walls/fence/lattice_fence.yml
  Resources/Prototypes/_Stalker/Entities/Structures/baseDynamicStructure.yml
  Resources/Prototypes/_Stalker/Entities/Structures/baseStructures.yml
  Resources/Textures/_Stalker/Decals/200k.rsi/200k.png
  Resources/Textures/_Stalker/Decals/200k.rsi/meta.json
  Resources/Textures/_Stalker/Decals/flor.rsi/meta.json
  Resources/Textures/_Stalker/Decals/flor.rsi/mushrooms.png
  Resources/Textures/_Stalker/Decals/hatch.rsi/hatch1.png
  Resources/Textures/_Stalker/Decals/hatch.rsi/hatch2.png
  Resources/Textures/_Stalker/Decals/hatch.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/Other/gas_stove.rsi/gs6.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/gas_stove.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/Transport/brdm.rsi/brdm.png
  Resources/Textures/_Stalker/Objects/Decoration/Transport/brdm.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/ashtray.rsi/ashtray.png
  Resources/Textures/_Stalker/Objects/Decoration/ashtray.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/brokenvendor.rsi/broken_blue.png
  Resources/Textures/_Stalker/Objects/Decoration/brokenvendor.rsi/broken_red.png
  Resources/Textures/_Stalker/Objects/Decoration/brokenvendor.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/computer.rsi/computer.png
  Resources/Textures/_Stalker/Objects/Decoration/computer.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/cone.rsi/cone.png
  Resources/Textures/_Stalker/Objects/Decoration/cone.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/lenin.rsi/lenin.png
  Resources/Textures/_Stalker/Objects/Decoration/lenin.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/radiostation.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/radiostation.rsi/radiostation.png
  Resources/Textures/_Stalker/Objects/Decoration/rustic_toilet.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/rustic_toilet.rsi/rustictoilet.png
  Resources/Textures/_Stalker/Objects/Decoration/rustic_toilet.rsi/rustictoilet_door.png
  Resources/Textures/_Stalker/Objects/Decoration/rustic_toilet.rsi/rustictoilet_open.png
  Resources/Textures/_Stalker/Structures/Walls/lattice_fence.rsi/icon_straight.png
  Resources/Textures/_Stalker/Structures/Walls/lattice_fence.rsi/icon_straight_rust.png
  Resources/Textures/_Stalker/Structures/Walls/lattice_fence.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Walls/lattice_fence.rsi/straight.png
  Resources/Textures/_Stalker/Structures/Walls/lattice_fence.rsi/straight_rust.png
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#668 АА-12
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/12x70.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/tags.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Shotguns/AA_12.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/1270/aa12/20.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/1270/aa12/20.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/1270/aa12/20.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/1270/aa12/9.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/1270/aa12/9.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/1270/aa12/9.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aa12.rsi/wielded-inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/aa12/aaSera.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#670 Добавил новую стартовую снарягу аномалистам
  Resources/Prototypes/_Stalker/Roles/Jobs/anomalists.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#675 fargunshots
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_DZ/FarGunshot/FarGunshotComponent.cs
  Content.Server/_DZ/FarGunshot/FarGunshotSystem.cs
  Content.Server/_Stalker/Weapon/Module/STWeaponModuleSystem.cs
  Content.Shared/_DZ/FarGunshot/FargunshotEvent.cs
  Content.Shared/_Stalker/Weapon/Module/Effects/STWeaponModuleEffect.cs
  Resources/Audio/_DZ/Effects/FarGunshots/pistol1.ogg
  Resources/Audio/_DZ/Effects/FarGunshots/rifle1.ogg
  Resources/Audio/_DZ/Effects/FarGunshots/rifle2.ogg
  Resources/Audio/_DZ/Effects/FarGunshots/shotgun1.ogg
  Resources/Audio/_DZ/Effects/FarGunshots/smg1.ogg
  Resources/Audio/_DZ/Effects/FarGunshots/sniper1.ogg
  Resources/Audio/_DZ/Effects/FarGunshots/supressed1.ogg
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/MachineGuns/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/_base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Revolvers/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AS_VAL.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Modules/silencers.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Modules/silencers.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Shotguns/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Snipers/Modules/silencers.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Snipers/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Snipers/vss.yml
Labels: size/L, S: Untriaged, S: Needs Review

#677 add mapping object
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/shoes/misc.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/boxes.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/decoration.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/radio.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/boxes.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/decoration.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/fan.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/trashcan.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Stalker/Objects/Decoration/Other/gorka.rsi/gorka.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/gorka.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/bench.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/books.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/crib.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/gen.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/phone.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/piano.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/mapping.rsi/tire.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/trashcan.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/Other/trashcan.rsi/tc5.png
  Resources/Textures/_Stalker/Objects/Decoration/yashik.rsi/komod.png
  Resources/Textures/_Stalker/Objects/Decoration/yashik.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/karta.png
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/poster65_zavet.png
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/poster66_sh2.png
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/poster67_sh3.png
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/poster68_sh4.png
  Resources/Textures/_Stalker/Structures/Wallmounts/posters.rsi/poster69_sh5.png
  global.json
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#678 slot highlight update + joinscreen logo
  Resources/Textures/_Stalker/Interface/STDefault/item_status_left_highlight.png
  Resources/Textures/_Stalker/Interface/STDefault/item_status_right_highlight.png
  Resources/Textures/_Stalker/Interface/STDefault/slot_highlight.png
  Resources/Textures/_Stalker/Logo/logo-stalker.png
Labels: Changes: No C#, size/XS, S: Untriaged

#671 gun pistol up
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/APS.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/GSH_18.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/Glock_17.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/PM.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/TEC9.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/TT.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#674 Abakan
  Resources/Audio/_Stalker/Effects/Guns/n_abakan_shot.ogg
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/shoes/misc.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/rolesSpawners.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/cloaks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorSSP24.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorSSP99.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Shoes/misc.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/crates.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Abakan.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/journalists.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/neutral.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/poisk.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/police.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/sci.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/uns.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/muzzle.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/scope.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/abakan.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged, S: Needs Review

#680 Не подозрительная обнова
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/voen.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#681 Fix and upd dof
  Resources/Locale/ru-RU/_stalker/alerts/alerts.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/cone.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/decoration.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/furniture/sign.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/wallmounts/other/zerkalo.ftl
  Resources/Locale/ru-RU/_stalker/zones.ftl
  Resources/Prototypes/_Stalker/Alerts/alerts.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Neck/dogtags.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/cone.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/decoration.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/sign.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Wallmounts/BulletHoles/bullet_holes.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Wallmounts/Other/zerkalo.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Wallmounts/Smudges/smudges.yml
  Resources/Prototypes/_Stalker/Recipes/Construction/Graphs/Structures/bonfire.yml
  Resources/Prototypes/_Stalker/Recipes/Construction/bonfire.yml
  Resources/Textures/_Stalker/Interface/Paper/Sign/sign_background_default.svg.96dpi.png
  Resources/Textures/_Stalker/Interface/Paper/Sign/sign_background_default.svg.96dpi.png.yml
  Resources/Textures/_Stalker/Structures/Furniture/sign.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Furniture/sign.rsi/sign_words.png
  Resources/Textures/_Stalker/Structures/Machines/gasstation.rsi/gasstationnew.png
  Resources/Textures/_Stalker/Structures/Machines/gasstation.rsi/gasstationnewtwo.png
  Resources/Textures/_Stalker/Structures/Machines/gasstation.rsi/gasstationtwo.png
  Resources/Textures/_Stalker/Structures/Machines/gasstation.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged, S: Needs Review

#684 Вернуть строчки про комод на место в файл декора из коробок
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/boxes.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/decoration.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/boxes.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/decoration.yml
Labels: Changes: No C#, size/M

#664 Режимы стрельбы оружию
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/MachineGuns/M249.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AKM.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/L85.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M16.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/ah12.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/ak103.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/aks74.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/g36.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/scar.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/pp19_01.yml
Labels: Changes: No C#, S: Needs Review

#689 добавил военсралов в захват.........
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/ai_factions.yml
Labels: Changes: No C#, size/M, S: Untriaged

#691 рп расширил карманы
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/545x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/556x45.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/762x51.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9x39.yml
Labels: Changes: No C#, size/XS

#693 фикс несуществующих триггеров
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/blinddog.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/bush.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/flesh.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/rat.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/rodent.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/spider.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T2/leshiy.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T2/snork.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T3/bloodsucker.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T3/byurer.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T3/zombie.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T4/goliath.yml
Labels: Changes: No C#, size/L, S: Untriaged

#694 + 2 базовых триггера
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/base.yml
Labels: Changes: No C#, size/M, S: Untriaged

#695 фикс насера
  Resources/migration.yml
Labels: Changes: No C#, size/M, S: Untriaged

#696 фиксим фиксим
  Resources/migration.yml
Labels: Changes: No C#, size/XS
