Repository stalker14-project/stalker-14, pull requests merged in 2025-03, with the labels that each got.

#465 add permissions for laberer-size
  .github/workflows/labeler-size.yml
Labels: Changes: No C#

#466 WIP jumpscare rewrite
  Content.Server/_Stalker/Jumpscare/JumpscareSystem.cs
  Content.Shared/_Stalker/Jumpscare/JumpscareComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/snork.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/boar.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/base.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/packspawners.yml
Labels: size/L

#471 Обновление наёмников
  Resources/Prototypes/_Stalker/Roles/Jobs/mercenaries.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/merc.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#447 SMG change
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Tompson.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Vityaz.yml
Labels: Changes: No C#

#448 Убрал колизии у декор объектов
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/misc.yml
Labels: Changes: No C#

#468 Переобновление серафимов
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
  Resources/Textures/_Stalker/Clothing/Head/Sera_/coat_hat_kevlar_seraphim.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/cloak/Sera_/seraphim_kevlar_cape.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Clothing/cloak/Sera_/seraphim_kevlar_cape.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_himera.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_himera.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_himera.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_himera.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#467 Журналисты
  Resources/Prototypes/_Stalker/Maps/stalker.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/departments.yml
Labels: Changes: No C#, size/XS

#458 Новые секс куклы админам
  Resources/Prototypes/_Stalker/Entities/Mobs/rolesSpawners.yml
Labels: Changes: No C#

#462 Фикс спрайта бутерброда
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/Food/food.yml
  Resources/Textures/_Stalker/Objects/Counsumable/Food/meat_buterbread.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Counsumable/Food/meat_buterbread.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#460 Уменшил размер спрайта контейнера для артов
  Resources/Prototypes/_Stalker/Entities/Objects/artifacts.yml
Labels: Changes: No C#

#456 fix YAML map schema validator
  Resources/ConfigPresets/StalkerBuild/config.toml
Labels: Changes: No C#

#474 add workflow permissions
  .github/workflows/labeler-review.yml
Labels: Changes: No C#

#478 Labels: Review add permissions
  .github/workflows/labeler-needsreview.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#480 Убрал УЗК5 у ученых
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#485 военсралы
  Resources/Prototypes/_Stalker/Maps/stalker.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#489 shop
  Resources/Prototypes/_Stalker/Entities/Structures/Shops/voen.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#491 gasmask sprite fix
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T3/XM40.yml
Labels: Changes: No C#, size/XS

#492 preset
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/voen.yml
Labels: Changes: No C#, size/L

#475 Различный декор
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/corpse.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Wallmounts/Signs/graffiti.yml
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse1.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse2.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse3.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse4.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse5.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse6.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse7.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/corpse8.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/corpse.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti.rsi/g1.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti.rsi/g2.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_16.rsi/g1.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_16.rsi/g2.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_16.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g1.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g10.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g11.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g12.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g2.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g3.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g4.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g5.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g6.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g7.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g8.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/g9.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_32.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/g1.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/g2.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/g3.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/g4.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/g5.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/g6.png
  Resources/Textures/_Stalker/Structures/Wallmounts/graffiti_64.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/L

#500 Торгомат наёмников
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
Labels: Changes: No C#, size/L, S: Untriaged

#496 new structures
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/trashbin.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/misc.yml
  Resources/Textures/_Stalker/Objects/Decoration/Other/trashbin.rsi/blue_tb.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/trashbin.rsi/green_tb.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/trashbin.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/r_swing.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/r_swing.rsi/rs.png
  Resources/Textures/_Stalker/Objects/Decoration/rusty_swing.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review

#495 new components fot structures
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/corpse.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/brick.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/concrete_mixer.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/corpse.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/fan.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/plastic_waste.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/bathroom.yml
Labels: Changes: No C#, size/L, S: Untriaged, S: Needs Review

#482 Добавил запрет на ношения шлемов брони сварочной маске Буйвола
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#477 Приколы для учёных
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: Changes: No C#, S: Untriaged

#502 Ai medkit rework fix structures and ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/corpse.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/rusty_swing.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/medkits.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/rusty_swing.yml
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai1.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai1.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai1.rsi/medkit-1.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai1.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai2.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai2.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai2.rsi/medkit-2.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai2.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai3.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai3.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai3.rsi/medkit-3.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai3.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai4.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai4.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai4.rsi/medkit-4.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai4.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai5.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai5.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai5.rsi/medkit-5.png
  Resources/Textures/_Stalker/Objects/Medicine/medkit/ai5.rsi/meta.json
  Resources/Textures/_Stalker/Objects/medicine.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged, S: Needs Review

#504 Добавление наёмников в пулл ролей
  Resources/Prototypes/_Stalker/Maps/stalker.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#507 Revert "Disks and kpk and new radio"
  Resources/Locale/ru-RU/_stalker/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/misc/cds.ftl
  Resources/Locale/ru-RU/jukebox/jukebox-menu.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Misc/cds.yml
  Resources/Textures/_Stalker/Objects/Decoration/Other/radio.rsi/base.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/radio.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/Other/radio.rsi/on.png
  Resources/Textures/_Stalker/Objects/Decoration/Other/radio.rsi/select.png
Labels: S: Untriaged

#509 Ret4 sponsor
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Shotguns/Protecta.yml
  Resources/Prototypes/_Stalker/_Sponsors/sponsor.yml
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_Ret.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_Ret.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_Ret.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Shotguns/pRetecta.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#513 Ret4 sponsor Допил
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Shotguns/Protecta.yml
  Resources/Textures/_Stalker/Clothing/Head/Hats/Ret4hat.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/Ret4hat.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/Ret4hat.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#506 [WIP] mutants update
  Content.Server/_Stalker/NPCs/NPCBloodsuckerComponent.cs
  Content.Server/_Stalker/NPCs/NPCBloodsuckerSystem.cs
  Content.Shared/_Stalker/Jumpscare/JumpscareComponent.cs
  Resources/Audio/_Stalker/Mutants/bloodsucker_eat.ogg
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/mobs/mutants/mutants.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/mutant-parts/mutant-parts.ftl
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/blinddog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/flesh.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/leshiy.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/pseudodog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/psidog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/bloodsucker.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/byurer.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/controller.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/zombie.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T4/pseudogiant.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/base.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/mutantsDamageModifySets.yml
  Resources/Prototypes/_Stalker/Entities/Objects/MutantParts/mutant_parts.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/bloodsucker.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/psidog.yml
  Resources/Prototypes/_Stalker/HTNs/StalkerNPCHTN.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/base.yml
Labels: Changes: No C#, size/L, S: Untriaged

#508 New ftl and new text
  Resources/Locale/ru-RU/_stalker/job/department.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/mobs/mutants/t4/gosha.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/cloak/capes/t1.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/legs/pants.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/torso/sweaters.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/other/brokenbed.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/other/plate.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/furniture/misc.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/windows/window.ftl
  Resources/Locale/ru-RU/_stalker/reagents/other.ftl
  Resources/Prototypes/_Stalker/Actions/bands.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T4/gosha.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Legs/pants.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Torso/sweaters.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Other/brokenbed.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Other/plate.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/misc.yml
Labels: Changes: No C#, size/L, S: Untriaged, S: Needs Review

#498 change component InteractionOutline
  Resources/Prototypes/_Stalker/Caches/cache/T1.yml
  Resources/Prototypes/_Stalker/Caches/trash/T1.yml
  Resources/Prototypes/_Stalker/Caches/trash/T2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/baricada.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/boxes.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/bricks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/broken_machines.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/cement_bag.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/concrete_mixer.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/decoration.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/gas_stove.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/mesh_roll.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/palette.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/planks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radiola.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/rusty_swing.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/tires.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/transport.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/trashbin.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Other/pipes.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Storage/newrepo.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Tools/work.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Furniture/calian.yml
  Resources/Prototypes/_Stalker/caches/CraftComponentSource.yml
Labels: Changes: No C#, S: Merge Conflict, size/M, S: Untriaged, S: Needs Review

#515 Sponsor Reimplementation
  Content.Server/_Stalker/Sponsors/SponsorData.cs
  Content.Server/_Stalker/Sponsors/SponsorsManager.cs
Labels: size/L, S: Untriaged

#523 Return wizards map prototypes
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#534 убран доступ военсалу к юкпп
  Resources/Prototypes/_Stalker/Access/military.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#526 кепка наёмников
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/hats.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/HeadClothing.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_cap.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_cap.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_cap.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#524 Шторы мапперам
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/bush_curtain.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/communal_curtain.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/tulle_curtain.yml
  Resources/Textures/_Stalker/Objects/Decoration/bush_curtain.rsi/closed.png
  Resources/Textures/_Stalker/Objects/Decoration/bush_curtain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/bush_curtain.rsi/open.png
  Resources/Textures/_Stalker/Objects/Decoration/communal_curtain.rsi/closed.png
  Resources/Textures/_Stalker/Objects/Decoration/communal_curtain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/communal_curtain.rsi/open.png
  Resources/Textures/_Stalker/Objects/Decoration/tulle_curtain.rsi/closed.png
  Resources/Textures/_Stalker/Objects/Decoration/tulle_curtain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/tulle_curtain.rsi/open.png
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#535 Revert "Шторы мапперам"
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/bush_curtain.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/communal_curtain.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/tulle_curtain.yml
  Resources/Textures/_Stalker/Objects/Decoration/bush_curtain.rsi/closed.png
  Resources/Textures/_Stalker/Objects/Decoration/bush_curtain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/bush_curtain.rsi/open.png
  Resources/Textures/_Stalker/Objects/Decoration/communal_curtain.rsi/closed.png
  Resources/Textures/_Stalker/Objects/Decoration/communal_curtain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/communal_curtain.rsi/open.png
  Resources/Textures/_Stalker/Objects/Decoration/tulle_curtain.rsi/closed.png
  Resources/Textures/_Stalker/Objects/Decoration/tulle_curtain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/tulle_curtain.rsi/open.png
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#536 Кольчуга свободы
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Textures/_Stalker/Objects/Clothing/cloak/freechain.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/freechain.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/freechain.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/freechain.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/freechain.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_freechain.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_freechain.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_freechain.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_freechain.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#537 Фиксы нескольких спрайтов и меты калашей
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak203.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak203.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak203.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak203.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak203.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak203.rsi/wielded-inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/aks74-green.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/aks74u-black.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/muzzle.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/scope.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/pogranichnik/wielded-inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ak74m.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ak74m.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ak74m.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ak74m.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ak74m.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/ak74m.rsi/wielded-inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/aks74.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#539 Баланс торговли Бандитов
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/caches/trash_detectors.yml
Labels: Changes: No C#, size/S

#528 Сменная нашивка для наёмников
  Resources/Prototypes/_Stalker/Roles/Jobs/mercenaries.yml
Labels: Changes: No C#, size/XS

#511 Newbook
  Resources/Locale/ru-RU/_stalker/paper/book-authorbook.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Misc/authorbook.yml
Labels: Changes: No C#, size/L, S: Needs Review
