Repository stalker14-project/stalker-14, pull requests merged in 2025-08, with the labels that each got.

#778 fix dupe
  Resources/Prototypes/_Stalker/ShopPresets/VadikNarik.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#791 Revert "починил нашивки"
  Content.Client/_Stalker/Bands/BandsSystem.cs
  Content.Server/_Stalker/Bands/BandsSystem.cs
  Content.Shared/_Stalker/Bands/BandsComponent.cs
Labels: S: Untriaged, size/S

#792 улучшил и починил нашивки
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Client/_Stalker/Bands/BandsSystem.cs
  Content.Server/_Stalker/Bands/BandsSystem.cs
  Content.Shared/_Stalker/Bands/BandsComponent.cs
  Content.Shared/_Stalker/Bands/BandsEvents.cs
  Resources/Prototypes/_Stalker/Actions/bands.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/rolesSpawners.yml
Labels: S: Untriaged

#793 Вербы + команда очистки схронов
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/_Stalker/Commands/ClearStash.cs
  Content.Server/_Stalker/StalkerDB/StalkerDbSystem.cs
  Content.Server/_Stalker/StalkerRepository/StalkerRepositorySystem.cs
  Content.Server/_Stalker/Storage/StalkerStorageSystem.cs
  Resources/Locale/ru-RU/_stalker/administration/ui/actions.ftl
Labels: size/L, S: Untriaged

#795 1 line fix
  Content.Client/_Stalker/Bands/BandsSystem.cs
Labels: S: Untriaged

#799 Revert "Add-permissions"
  .github/workflows/close-master-pr.yml
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
  Resources/Audio/_Stalker/Weapons/Guns/MagOut/garand_eject.ogg
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/545x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/aks74.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphim.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/545/30Junk.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/545/30Junk.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/545/30Junk.rsi/mag-2.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/545/30Junk.rsi/mag-3.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/545/30Junk.rsi/meta.json
Labels: Changes: Sprites, size/L, S: Untriaged

#813 насер убран
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/radio.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#815 band icons layer fix
  Content.Client/StatusIcon/StatusIconOverlay.cs
Labels: size/XS, S: Untriaged

#836 Luger (фиксы, да я проебался)
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9x19.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Pistols/LP08.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/919/luger_drum.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/919/luger_drum.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/919/luger_drum.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S

#840 Добавил РП портал для ивентов
  Resources/Prototypes/_Stalker/Entities/Structures/portal_rift.yml
  Resources/Textures/_Stalker/Structures/Decoration/portla_rift.rsi/base.png
  Resources/Textures/_Stalker/Structures/Decoration/portla_rift.rsi/icon.png
  Resources/Textures/_Stalker/Structures/Decoration/portla_rift.rsi/meta.json
  Resources/Textures/_Stalker/Structures/Decoration/portla_rift.rsi/screen.png
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#861 сосоп апдате 2
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/vendors.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/military.yml
Labels: Changes: No C#, S: Untriaged

#864 Уэээ
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/military.yml
Labels: Changes: No C#, S: Untriaged, size/S

#866 переходы
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/map.yml
Labels: Changes: No C#

#872 теперь оверлей правильно добавляется и удаляется у клиентов
  Content.Client/_Stalker/Anomaly/STAnomalyTipsSystem.cs
Labels: size/M, S: Untriaged
