Repository stalker14-project/stalker-14, pull requests merged in 2025-04, with the labels that each got.

#542 Merge after 1st april
  Resources/Prototypes/_Stalker/Roles/Jobs/clear_sky.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/dolg.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/freedom.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/mercenaries.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/renegats.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/sci.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/toads.yml
  Resources/Prototypes/_Stalker/StatusIcon/BandIcons.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/сn.png
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#545 hotfix
  Resources/Prototypes/_Stalker/StatusIcon/BandIcons.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/china.png
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#547 Выпилить реакции
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: Changes: No C#, S: Untriaged

#546 Маленький фикс капюшона кольчуги свободы
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T4.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#549 Guard fixed (temp)
  Content.Server/_Stalker/GuardFactionController/GuardFactionControllerComponent.cs
  Content.Server/_Stalker/GuardFactionController/GuardFactionControllerSystem.cs
  Content.Server/_Stalker/GuardFactionController/GuardFactionResistantComponent.cs
  Content.Shared/_Stalker/GuradFactionController/GuardFactionControllerEvents.cs
  Resources/Prototypes/_Stalker/Entities/Mobs/Guard/stalkerGuard.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Guard/stealkerGuardMobs.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/mutantsDamageModifySets.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/ai_factions.yml
Labels: size/L, S: Untriaged

#554 add permissions for diff rsi
  .github/workflows/rsi-diff.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#530 Fix vodichki
  Resources/Prototypes/_Stalker/Tiles/water.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#552 Автозамена кринжа на нормальные слова
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/ru-RU/_stalker/speech/speech-chatsan.ftl
  Resources/Prototypes/_Stalker/Accents/word_replacements.yml
Labels: size/L, S: Untriaged

#560 sprite fixes
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/base.yml
  Resources/Textures/_Stalker/Objects/Clothing/belt/belt_berill.rsi/equipped-BELT.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/xm40military.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/xm40military.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/berill5m_military.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Untriaged

#551 new ftl name for berries
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/consumables/produce.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/produce.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review

#565 Job whitelist for sponsors
  Content.Server/Players/JobWhitelist/JobWhitelistManager.cs
  Content.Server/_Stalker/Players/JobWhitelistManager.Stalker.cs
  Content.Server/_Stalker/Sponsors/SponsorSystem.Jobs.cs
  Content.Server/_Stalker/Sponsors/SponsorSystem.cs
  Content.Server/_Stalker/Sponsors/SponsorsManager.cs
  Content.Shared/_Stalker/Sponsors/SponsorWhitelistPrototype.cs
  Resources/Prototypes/_Stalker/_Sponsors/jobs.yml
Labels: size/L, S: Untriaged

#529 dungeons now not loading
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#564 Нейтралы aka ополчение
  Resources/Prototypes/_Stalker/Maps/stalker.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#568 change russssian B to english B
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/head/t4/6B47Helmet.ftl
Labels: Changes: No C#, S: Untriaged

#570 Fixed paths to vector and A-545 skins
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/vector_black.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/vector_forest.rsi/equipped-BACKPACK.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#555 Fixed bugs dof
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Jacket.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/helm_dolg.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/helm_dolg.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/helm_light.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/helm_light.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/jacket_hat_sci.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/jacket_hat_sci.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/jacket_hat_sci.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/jacket_hat_sci.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Tools/seclite.rsi/seclite-overlay.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#572 Склады разграбили 2: фикс. Блокбастер, смотрите в кинотеатрах.
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
Labels: Changes: No C#, size/M, S: Untriaged

#577 feat: No shade for status icons
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: No C#, size/XS

#566 фикс печки
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/russian_oven.yml
Labels: Changes: No C#

#580 Фикс барабана
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/762x25.yml
Labels: Changes: No C#, S: Untriaged

#590 Mi stress mask helm 2
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/MakeshiftHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/_Skins/Altyn.yml
Labels: Changes: No C#, size/XS

#553 постовые СОПа
  Resources/Audio/_Stalker/Effects/Guns/pkm_shot.ogg
  Resources/Locale/ru-RU/_stalker/prototypes/entities/mobs/Guard/stealkerGuardMobs.ftl
  Resources/Prototypes/_Stalker/Entities/Mobs/Guard/stealkerGuardMobs.yml
  Resources/Textures/_Stalker/Mobs/Military/Berill.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Military/Berill.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Military/Berill.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Military/PSZ.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Military/PSZ.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Military/PSZ.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Military/Sniper.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Military/Sniper.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Military/Sniper.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Military/Vist.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Military/Vist.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Military/Vist.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#581 патрiотичний апдейт
  Resources/Locale/ru-RU/_stalker/prototypes/entities/structures/wallmounts/signs/faction_flags.ftl
  Resources/Prototypes/_Stalker/Entities/Structures/Wallmounts/Signs/faction_flags.yml
  Resources/Textures/_Stalker/Structures/Wallmounts/banners.rsi/banner17.png
  Resources/Textures/_Stalker/Structures/Wallmounts/banners.rsi/banner18.png
  Resources/Textures/_Stalker/Structures/Wallmounts/banners.rsi/banner19.png
  Resources/Textures/_Stalker/Structures/Wallmounts/banners.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#596 Gun sound gen 3
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/Bolt/rifle_bolt_closed.ogg
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/Bolt/rifle_bolt_open.ogg
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/Cock/rifle_cock.ogg
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/Empty/empty.ogg
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/MagIn/rifle_magin.ogg
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/MagOut/rifle_magout.ogg
  Resources/Audio/_Stalker/Weapons/Guns/RifleGen/Misc/selector.ogg
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/MachineGuns/M249.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/MachineGuns/RPD.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/MachineGuns/_base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AH_12.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AKM.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AKS_74.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AKS_74U.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AK_103.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AS_VAL.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/FN_F2000.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/FN_FAL.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/G_36.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Galatz.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Galil.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/L85.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M14.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M16.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/M4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/SCAR_H.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Sig_550.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/StalkerGroza.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/_Skins/AK_104.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/_Skins/AK_12.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/_base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/FN_P90.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/MP_40.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/MP_5.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/PP_19_Bizon.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/PP_91_Kedr.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/PPsh_41.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Tompson.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Vityaz.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Vz_61_Scorpion.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/_Skins/cp2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/_base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/vector.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SniperRifles/Gauss.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SniperRifles/SVDS.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SniperRifles/VSS.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SniperRifles/Vepr.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SniperRifles/_base.yml
Labels: Changes: No C#, size/M, S: Untriaged

#597 fix: No shader status icons
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Stalker/StatusIcon/BandIcons.yml
Labels: Changes: No C#, size/M

#567 Новые шлема для наёмников
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/head/t2/infantryhelmet.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/head/t3/assaulthelmet.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/InfantryHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/AssaultHelmet.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_merc.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_merc.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_merc.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_merc.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_merc.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_bastion.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_bastion.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_bastion.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_bastion.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/merc_bastion.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#603 feat: better physics, links, tags for config
  Resources/ConfigPresets/StalkerBuild/config.toml
Labels: Changes: No C#, S: Untriaged, size/S

#604 Доработки по зонам захвата
  Content.Server/_Stalker/Bands/BandsSystem.cs
  Content.Server/_Stalker/WarZone/WarZoneComponent.cs
  Content.Server/_Stalker/WarZone/WarZoneSystem.cs
  Content.Shared/_Stalker/WarZone/Requirenments/BaseWarZoneRequirenment.cs
  Content.Shared/_Stalker/WarZone/Requirenments/CaptureBlockReason.cs
  Content.Shared/_Stalker/WarZone/Requirenments/CaptureTimeRequirenment.cs
  Content.Shared/_Stalker/WarZone/Requirenments/TimeWindowRequirenment.cs
  Content.Shared/_Stalker/WarZone/Requirenments/ZoneOwnershipRequirenment.cs
  Content.Shared/_Stalker/WarZone/WarZonePrototype.cs
  Resources/Locale/en-US/_stalker/warzone/commands.ftl
  Resources/Locale/ru-RU/_stalker/warzone/commands.ftl
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
Labels: size/L, S: Untriaged

#598 Роли ополченцев
  Resources/Locale/ru-RU/_stalker/prototypes/roles/jobs.ftl
  Resources/Prototypes/_Stalker/Access/opolchenie.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Doors/Airlocks/base.yml
  Resources/Prototypes/_Stalker/Maps/stalker.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/departments.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/opolchenie.yml
  Resources/Prototypes/_Stalker/Roles/play_time_trackers.yml
  Resources/Prototypes/_Stalker/StatusIcon/BandIcons.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/meta.json
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/opolchenie.png
Labels: Changes: Sprites, Changes: No C#, size/M

#606 Фиксы
  Content.Server/_Stalker/WarZone/WarZoneSystem.cs
  Content.Shared/_Stalker/WarZone/WarZonePrototype.cs
  Resources/Locale/ru-RU/_stalker/prototypes/roles/jobs.ftl
  Resources/Prototypes/_Stalker/Access/militia.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/rolesSpawners.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Doors/Airlocks/base.yml
  Resources/Prototypes/_Stalker/Maps/stalker.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/bands.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/departments.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militia.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/opolchenie.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/toads.yml
  Resources/Prototypes/_Stalker/Roles/play_time_trackers.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
  Resources/Prototypes/_Stalker/StatusIcon/BandIcons.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/meta.json
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/militia.png
Labels: Changes: Sprites, size/L, S: Untriaged

#605 Однушки для одиночек
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Shotguns/MP_155.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/stalkers.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#608 Актуализация слотов и скрытие ckey
  Content.Client/_Stalker/Bands/UI/BandsManagingWindow.xaml.cs
  Content.Server/_Stalker/Bands/BandsSystem.cs
  Content.Shared/_Stalker/Bands/SharedBandsSystem.cs
  Resources/Locale/en-US/_stalker/bands.ftl
  Resources/Locale/ru-RU/_stalker/bands.ftl
  Resources/Prototypes/_Stalker/NPC/_NPC.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/bands.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/covenant.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/dolg.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/freedom.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/renegats.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/sci.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/seraphims.yml
Labels: Changes: UI, size/M, S: Untriaged

#611 Изменения в зонах
  Content.Server/_Stalker/WarZone/Commands/WarZoneAdminCommand.cs
  Content.Server/_Stalker/WarZone/Commands/WarZoneInfoCommand.cs
  Content.Server/_Stalker/WarZone/WarZoneComponent.cs
  Content.Server/_Stalker/WarZone/WarZoneSystem.cs
  Content.Shared/_Stalker/WarZone/Requirenments/TimeWindowRequirenment.cs
  Resources/Locale/en-US/_stalker/warzone/commands.ftl
  Resources/Locale/ru-RU/_stalker/warzone/commands.ftl
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
Labels: size/L, S: Untriaged

#613 Viis/quality of life
  Content.Client/_Stalker/Bands/BandsSystem.cs
  Content.Client/_Stalker/Bands/UI/BandsManagingUserInterface.cs
  Content.Client/_Stalker/Bands/UI/BandsManagingWindow.xaml
  Content.Client/_Stalker/Bands/UI/BandsManagingWindow.xaml.cs
  Content.Server/_Stalker/Bands/BandsSystem.cs
  Content.Server/_Stalker/WarZone/WarZoneSystem.cs
  Content.Shared/_Stalker/Bands/BandShopListingsPrototype.cs
  Content.Shared/_Stalker/Bands/Components/BandsManagingComponent.cs
  Content.Shared/_Stalker/Bands/STBandPrototype.cs
  Content.Shared/_Stalker/Bands/SharedBandsSystem.cs
  Content.Shared/_Stalker/STCategoryFilterSystem.cs
  Resources/Locale/en-US/_stalker/bands.ftl
  Resources/Locale/ru-RU/_stalker/bands.ftl
  Resources/Prototypes/_Stalker/Entities/Mobs/Guard/HostileGuardMobs.yml
  Resources/Prototypes/_Stalker/NPC/_NPC.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ValdisSuffering/hidenPath.yml
  Resources/Prototypes/_Stalker/stashMigration.yml
  Resources/Textures/_Stalker/Objects/Craft/tech_card.rsi/label_green.png
  Resources/Textures/_Stalker/Objects/Craft/tech_card.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, size/L

#616 feat: add falloff accurancy
  Content.Shared/_Stalker/Random/STSplitMix64.cs
  Content.Shared/_Stalker/Random/STXoshiro128P.cs
  Content.Shared/_Stalker/Weapon/Evasion/STEvasionComponent.cs
  Content.Shared/_Stalker/Weapon/Evasion/STEvasionRefreshModifiersEvent.cs
  Content.Shared/_Stalker/Weapon/Evasion/STEvasionSystem.cs
  Content.Shared/_Stalker/Weapon/Projectile/AccuracyFalloffThreshold.cs
  Content.Shared/_Stalker/Weapon/Projectile/DamageFalloffThreshold.cs
  Content.Shared/_Stalker/Weapon/Projectile/STProjectileAccuracyComponent.cs
  Content.Shared/_Stalker/Weapon/Projectile/STProjectileDamageFalloffComponent.cs
  Content.Shared/_Stalker/Weapon/Projectile/STProjectileSystem.cs
  Content.Shared/_Stalker/Weapon/STGetDamageFalloffEvent.cs
  Content.Shared/_Stalker/Weapon/STGetWeaponAccuracyEvent.cs
  Content.Shared/_Stalker/Weapon/STWeaponAccuracyComponent.cs
  Content.Shared/_Stalker/Weapon/STWeaponDamageFalloffComponent.cs
  Content.Shared/_Stalker/Weapon/STWeaponSystem.cs
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12x70.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/44magnum.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45acp.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/545x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/556x45.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/762x25.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/762x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/762x51.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/762x54.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/9x18.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/9x19.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/9x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Snipers/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/base.yml
  Resources/Prototypes/_Stalker/Entities/base.yml
  Stalker14.sln.DotSettings
Labels: help wanted, size/L, S: Untriaged, S: Needs Review

#614 Mi stress векторы
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/vector.rsi/meta.json
Labels: Changes: No C#, size/XS, S: Untriaged

#615 плащи блатные
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/outerclothing/t1/coat.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/outerclothing/t1/coatmods.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/outerclothing/t1/jacketmods.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/economy/cratesbuyable.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Belts/RPC.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T1/StandardMask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Coat.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/CoatMods.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/JacketMods.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/cratesbuyable.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_black.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_black.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_black.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_black.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_brown.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_brown.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_brown.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/сoat_bandit_hat_brown.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_black.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_black.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_black.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_black.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_black.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_brown.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_brown.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_brown.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_brown.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_brown.rsi/meta.json
Labels: Changes: Sprites, size/L

#619 bandit coat sprite fixes
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorReinger.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorIOTV.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorSuitHeavy.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorPlateVestHeavy.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/base.yml
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_black.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/coat_bandit_brown.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, Changes: No C#, size/M

#622 UPDMap
  Resources/Maps/_ST/World/UndegroundWildsBar100radsV32.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/mapLoader.yml
Labels: Changes: Map, Changes: No C#, size/XL

#626 fattie-fix
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_bandit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_bandit.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_bandit.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_stalker.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_stalker.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_stalker.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_stalker_white.rsi/equipped-OUTERCLOTHING-fat.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/jacket_stalker_white.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#630 Сумка ремесленника
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Belts/crafter_bugs.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
  Resources/Textures/_Stalker/Objects/Clothing/belt/crafter_bag.rsi/equipped-BELT.png
  Resources/Textures/_Stalker/Objects/Clothing/belt/crafter_bag.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/belt/crafter_bag.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/belt/crafter_bag.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/belt/crafter_bag.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Untriaged

#617 Берет долга
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/head/headclothing.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/HeadClothing.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/betet-dolg.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/betet-dolg.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/betet-dolg.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#628 Добавил РП оборудование в торгомат ученых
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#631 Map bar update
  Resources/Maps/_ST/World/UndegroundWildsBar100radsV33.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/mapLoader.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Untriaged

#633 fix crlf action
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/weapons/guns/shotguns/compact.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Coat.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_black.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_black.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_black.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_black.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_brown.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_brown.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_brown.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_bandit_hat_brown.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS

#632 Add Stalker 14 licence to rsi validator
  .github/rsi-schema.json
Labels: Changes: No C#, size/XS

#638 Fixed bug with capture
  Content.Server/_Stalker/WarZone/FactionBandWarfarePlan.md
  Content.Server/_Stalker/WarZone/WarZoneComponent.cs
  Content.Server/_Stalker/WarZone/WarZoneSystem.cs
Labels: size/L, S: Untriaged

#639 Viis/small improvments
  Resources/Prototypes/_Stalker/Entities/Mobs/rolesSpawners.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Shotguns/compact.yml
  Resources/Prototypes/_Stalker/LightCraftRecipes/bonfire.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militia.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/_Sponsors/items.yml
  Resources/Prototypes/_Stalker/_Sponsors/jobs.yml
  Resources/Prototypes/_Stalker/ai_factions.yml
  Resources/Textures/_Stalker/Objects/Tools/hatchet.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Tools/hatchet.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Tools/hatchet.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Tools/hatchet.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#641 Правки по фидбеку от игроков
  Content.Client/_Stalker/RadioStalkerUi/RadioStalkerMenu.xaml.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/_Stalker/Bands/BandsSystem.cs
  Content.Server/_Stalker/PdaMessenger/PdaMessengerSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/_Stalker/RadioStalker/Components/RadioStalkerComponent.cs
  Content.Shared/_Stalker/RadioStalker/SharedRadioStalker.cs
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/stalkers.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/radio_channels.yml
Labels: Changes: UI, size/L, S: Untriaged

#642 Fixes of sprites and skins
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/outerclothing/t4/armoriotv.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Jacket.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/Armor6B2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorZarya.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorPSZ7.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSeva.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/_Skins/ArmorStrazh.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorIOTV.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorPSZ9D.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/MakeshiftOuterArmor.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorBulat.yml
Labels: Changes: No C#, size/L, S: Untriaged

#643 Spanish knife, redundund radio messages, blueprints for TW
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/tools/tools.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Weapon/Ammo/Ammo.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/blueprint_cache.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Stalker/LightCraftRecipes/pda.yml
  Resources/Prototypes/_Stalker/LightCraftRecipes/structures.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/_Sponsors/items.yml
Labels: size/L, S: Untriaged

#645 Исправлен баг с тем что после рестарта сервера сбрасывается владелец зоны и перестают начисляться очки
  Content.Server/Database/ServerDbBase.cs
  Content.Server/_Stalker/WarZone/WarZoneSystem.cs
  Resources/Prototypes/_Stalker/ScriptedEntities/WarZones/WarZones.yml
Labels: size/M, S: Untriaged

#621 7.62x51 магазы свободе.
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
Labels: Changes: No C#, S: Untriaged

#644 Anomaly explosions
  Resources/ConfigPresets/StalkerBuild/strelease.toml
  Resources/Locale/ru-RU/_stalker/game-ticking/game-presets/presset-stalker.ftl
  Resources/Prototypes/_Stalker/GameRules/events.yml
  Resources/Prototypes/_Stalker/game_presets.yml
Labels: Changes: No C#, size/M, S: Untriaged

#648 Toads update and 2 cassettes
  Resources/Audio/_Stalker/Music/Radio/Contributor/Herz.ogg
  Resources/Audio/_Stalker/Music/Radio/Contributor/JewishTailor.ogg
  Resources/Locale/en-US/_stalker/species.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/decoration/radio.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/roles/jobs.ftl
  Resources/Locale/ru-RU/_stalker/species.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
  Resources/Prototypes/_Stalker/Maps/stalker.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/departments.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/toads.yml
  Resources/Prototypes/_Stalker/Roles/play_time_trackers.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/jaba.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#649 blind dogs rework
  Resources/Audio/_Stalker/Mutants/bdog/bdog_attack_0.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_attack_1.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_attack_2.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_die_0.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_die_1.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_die_2.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_die_3.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_idle_0.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_idle_1.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_idle_2.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_idle_3.ogg
  Resources/Audio/_Stalker/Mutants/bdog/bdog_idle_4.ogg
  Resources/Audio/_Stalker/Mutants/bdog/dog_idle_0.ogg
  Resources/Audio/_Stalker/Mutants/bdog/dog_idle_1.ogg
  Resources/Audio/_Stalker/Mutants/bdog/dog_idle_2.ogg
  Resources/Audio/_Stalker/Mutants/bdog/dog_idle_3.ogg
  Resources/Audio/_Stalker/Mutants/bdog/dog_idle_4.ogg
  Resources/Locale/ru-RU/_stalker/prototypes/entities/mobs/mutants/t1/blinddog.ftl
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/blinddog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/pseudodog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Packs/dogsPack.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/blinddog_red.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/blinddog_small.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/blinddog_tall.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/blinddog_white.yml
  Resources/Prototypes/_Stalker/SoundCollections/blind_dog.yml
  Resources/Prototypes/_Stalker/SpawnersNTriggers/Mobs/T1/blinddog.yml
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/red.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/red.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/red.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/small.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/small.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/small.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/tall.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/tall.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/tall.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/white.rsi/alive.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/white.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Mutants/Blind_Dogs/white.rsi/meta.json
  Resources/Textures/_Stalker/Mobs/Mutants/blinddog.rsi/blinddog.png
  Resources/Textures/_Stalker/Mobs/Mutants/blinddog.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Mutants/blinddog.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XL
