Repository stalker14-project/stalker-14, pull requests merged in 2025-07, with the labels that each got.

#712 жоский ребаланс артов 666
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/acidic.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/electrical.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/gravity.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/spatial.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/thermal.yml
Labels: Changes: No C#

#647 Боты-патрульные
  GroupsGuardMobs.yml
  Guards/Bandit/Low.rsi/dead.png
  Guards/Bandit/Low.rsi/live.png
  Guards/Bandit/Low.rsi/meta.json
  Guards/Bandit/Top.rsi/dead.png
  Guards/Bandit/Top.rsi/live.png
  Guards/Bandit/Top.rsi/meta.json
  Guards/Duty/Low.rsi/Dead.png
  Guards/Duty/Low.rsi/live.png
  Guards/Duty/Low.rsi/meta.json
  Guards/Duty/Top.rsi/dead.png
  Guards/Duty/Top.rsi/live.png
  Guards/Duty/Top.rsi/meta.json
  Guards/Freedom/Low.rsi/dead.png
  Guards/Freedom/Low.rsi/live.png
  Guards/Freedom/Low.rsi/meta.json
  Guards/Freedom/Top.rsi/dead.png
  Guards/Freedom/Top.rsi/live.png
  Guards/Freedom/Top.rsi/meta.json
  Guards/Gigachad/1/dead.png
  Guards/Gigachad/1/live.png
  Guards/Gigachad/1/meta (3).json
  Guards/Gigachad/2/dead.png
  Guards/Gigachad/2/live.png
  Guards/Gigachad/2/meta (3).json
  Guards/Gigachad/3/dead.png
  Guards/Gigachad/3/live.png
  Guards/Gigachad/3/meta (3).json
  Guards/Gigachad/4/dead.png
  Guards/Gigachad/4/live.png
  Guards/Gigachad/4/meta (3).json
  Guards/Gigachad/гигачад.png
  Guards/Loners/Low.rsi/dead.png
  Guards/Loners/Low.rsi/live.png
  Guards/Loners/Low.rsi/meta.json
  Guards/Loners/Top.rsi/dead.png
  Guards/Loners/Top.rsi/live.png
  Guards/Loners/Top.rsi/meta.json
  Guards/Seraphims/Low.rsi/dead.png
  Guards/Seraphims/Low.rsi/live.png
  Guards/Seraphims/Low.rsi/meta.json
  Guards/Seraphims/Top.rsi/dead.png
  Guards/Seraphims/Top.rsi/live.png
  Guards/Seraphims/Top.rsi/meta.json
  Guards/Stalker.rsi/alive.png
  Guards/Stalker.rsi/dead.png
  Guards/Stalker.rsi/meta.json
  ai_factions.yml
  dolg.yml
  freedom.yml
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#710 New crafts v1
  Content.Server/_Stalker/Crafting/STBlueprintSystem.cs
  Content.Shared/_RD/StatusEffect/Systems/RDStatusEffectSystem.cs
  Content.Shared/_Stalker/Crafting/SharedCraftingSystem.cs
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/outerclothing/t4/armorssp24.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/devices/detectors/artifact.ftl
  Resources/Prototypes/_Stalker/Caches/cache/T1.yml
  Resources/Prototypes/_Stalker/Caches/cache/T2.yml
  Resources/Prototypes/_Stalker/Caches/cache/T3.yml
  Resources/Prototypes/_Stalker/Caches/cache/T4.yml
  Resources/Prototypes/_Stalker/Caches/cache/T5.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Back/backpacks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Capes/T1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Capes/T2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Head/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/Head/T5.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/OuterClothing/armor_T1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/OuterClothing/armor_T2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/OuterClothing/armor_T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/OuterClothing/armor_T4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Blueprints/blueprint_detectors.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Materials/base_ingridients.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Materials/details.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Back/Skin/backpacks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Back/backpacks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Capes/T1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Capes/T2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Capes/T4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/CraftCraftMaterials/CraftCraftMaterials.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Head/Skins/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Head/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Head/T4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Head/T5.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T2/Armor6B2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T2/ArmorRHBZ.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T2/ArmorZarya.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T3/ArmorSeva.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/Skins/T4/Armor6B13.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/armorT1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/armorT2.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/armorT3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/armorT4.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/detectors.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Detectors/artifact.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/Tags/backpacks.yml
  Resources/Prototypes/_Stalker/caches/BlueprintsSource.yml
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/bush.rsi/active.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/bush.rsi/base.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/bush.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/bush.rsi/meta.json
Labels: DO NOT MERGE, Changes: Sprites, Changes: No C#, size/XL

#719 controller resprite
  Resources/Textures/_Stalker/Mobs/Mutants/controller.rsi/controller.png
  Resources/Textures/_Stalker/Mobs/Mutants/controller.rsi/dead.png
  Resources/Textures/_Stalker/Mobs/Mutants/controller.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#724 update crafts on prototypes load
  Content.Shared/_Stalker/Crafting/SharedCraftingSystem.cs
Labels: S: Untriaged, size/S

#726 seva fixes
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSeva.yml
Labels: Changes: No C#, size/M, S: Untriaged

#727 военсралы апдате 2025
  Resources/Prototypes/_Stalker/pda.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/voen.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S

#735 Фикс экономики и шлемов
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/InfantryHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/AssaultHelmet.yml
  Resources/Prototypes/_Stalker/ShopPresets/DollarTrader.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
Labels: Changes: No C#, size/M, S: Untriaged

#765 fix: contributor role
  Resources/Prototypes/_Stalker/_Sponsors/sponsor.yml
Labels: Changes: No C#, size/XS, S: Untriaged
