Repository stalker14-project/stalker-14, pull requests merged in 2025-06, with the labels that each got.

#702 понизил цену на карты
  Resources/Prototypes/_Stalker/ShopPresets/PawnShops/JuryIzvorotin.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#704 ослабление собачек
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/pseudodog.yml
Labels: Changes: No C#, size/XS

#700 сало ух
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/consumables/food/food.ftl
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/flesh.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/boar.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/Food/food.yml
Labels: Changes: No C#, size/M

#707 Удалил кассеты которых нету
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
  Resources/Prototypes/_Stalker/ShopPresets/RadioPlayer.yml
Labels: Changes: No C#, size/XS

#708 говно свдс
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/weapons/guns/sniper_rifles/svds.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Snipers/svds.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/equipped-BACKPACК.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Snipers/SVDS/wood.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/L, S: Untriaged

#709 крафти
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Materials/stacks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Ammo.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Capes/T1.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/GasMask/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/Head/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/armorT3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/melee.yml
  Resources/migration.yml
Labels: Changes: No C#

#635 Sponsor Huge(no..?) Rework
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_Stalker/Discord/DiscordAuthGui.xaml
  Content.Client/_Stalker/Shop/Ui/ShopListingControl.xaml
  Content.Client/_Stalker/Shop/Ui/ShopListingControl.xaml.cs
  Content.Client/_Stalker/Shop/Ui/ShopMenu.xaml.cs
  Content.Client/_Stalker/Sponsors/SponsorsManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Stalker/AI/AINPCSystem.cs
  Content.Server/_Stalker/Discord/DiscordAuth/DiscordAuthManager.Utils.cs
  Content.Server/_Stalker/Discord/DiscordAuth/DiscordAuthManager.cs
  Content.Server/_Stalker/JoinQueue/JoinQueueManager.cs
  Content.Server/_Stalker/Shop/ShopSystem.Sponsors.cs
  Content.Server/_Stalker/Shop/ShopSystem.cs
  Content.Server/_Stalker/Sponsors/SponsorData.cs
  Content.Server/_Stalker/Sponsors/SponsorManager/SponsorsManager.Helpers.cs
  Content.Server/_Stalker/Sponsors/SponsorManager/SponsorsManager.Roles.cs
  Content.Server/_Stalker/Sponsors/SponsorManager/SponsorsManager.Species.cs
  Content.Server/_Stalker/Sponsors/SponsorManager/SponsorsManager.cs
  Content.Server/_Stalker/Sponsors/System/SponsorSystem.Helpers.cs
  Content.Server/_Stalker/Sponsors/System/SponsorSystem.Jobs.cs
  Content.Server/_Stalker/Sponsors/System/SponsorSystem.Species.cs
  Content.Server/_Stalker/Sponsors/System/SponsorSystem.cs
  Content.Server/_Stalker/StalkerRepository/StalkerRepositorySystem.cs
  Content.Server/_Stalker/Teleports/DuplicateTeleport/DuplicateTeleportSystem.cs
  Content.Server/_Stalker/Teleports/StalkerPortalSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/_Stalker/CCCCVars/CCCCVars.cs
  Content.Shared/_Stalker/Shop/Prototypes/ShopPresetPrototype.cs
  Content.Shared/_Stalker/Shop/ShopComponent.cs
  Content.Shared/_Stalker/Sponsors/Messages/MsgSponsorRequestSpecies.cs
  Content.Shared/_Stalker/Sponsors/Messages/MsgSponsorVerified.cs
  Content.Shared/_Stalker/Sponsors/PersonalShopPrototype.cs
  Content.Shared/_Stalker/Sponsors/SharedSponsorsManager.cs
  Content.Shared/_Stalker/Sponsors/SponsorInfo.cs
  Content.Shared/_Stalker/Sponsors/SponsorPrototype.cs
  Content.Shared/_Stalker/Sponsors/SponsorWhitelistPrototype.cs
  Resources/Locale/en-US/_stalker/discord/discord_data.ftl
  Resources/Locale/ru-RU/_stalker/discord/discord_data.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Materials/details.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/stalkers.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Buyer.yml
  Resources/Prototypes/_Stalker/ShopPresets/SalesmanViktor.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/Species/fat.yml
  Resources/Prototypes/_Stalker/_Sponsors/shops.yml
  Resources/Prototypes/_Stalker/_Sponsors/species.yml
  Resources/Prototypes/_Stalker/_Sponsors/sponsor.yml
Labels: Changes: UI, size/L, S: Untriaged
