Repository stalker14-project/stalker-14, pull requests merged in 2025-02, with the labels that each got.

#278 ППМ88
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/T1/PPM88.yml
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK-hamster.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK-vox.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#282 опять сука
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK-hamster.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/equipped-MASK-vox.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/ppm_88.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#279 шлемчики
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/InfantryHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T2/MakeshiftHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/Sphere08.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/VityazHelmet.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T4/Sphere.yml
Labels: Changes: No C#

#283 Проект
  Resources/Prototypes/_Stalker/caches/ProectCaches.yml
Labels: Changes: No C#

#284 Металлодетектор Дальнего Действия
  Resources/Prototypes/_Stalker/Caches/Longrangemetaldetector.yml
Labels: Changes: No C#

#287 sprites
  Resources/Textures/_Stalker/Objects/Devices/longrangemetaldetector.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Devices/longrangemetaldetector.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Devices/longrangemetaldetector.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Devices/longrangemetaldetector.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Devices/longrangemetaldetector.rsi/screen.png
Labels: Changes: Sprites, Changes: No C#

#288 фикс фикса фикса
  Resources/Prototypes/_Stalker/Caches/Longrangemetaldetector.yml
Labels: Changes: No C#

#289 Sidor, Barmen
  Resources/Prototypes/_Stalker/NPC/_NPC.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
Labels: Changes: No C#

#290 Fix.2 Metallodetector
  Resources/Prototypes/_Stalker/Caches/Longrangemetaldetector.yml
  Resources/Textures/_Stalker/Decals/greengraseONEST.rsi/grass.png
  Resources/Textures/_Stalker/Decals/greengraseONEST.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/invisible.rsi/invisible.png
  Resources/Textures/_Stalker/Objects/Decoration/invisible.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#291 Torgomaty
  Resources/Prototypes/_Stalker/Entities/Structures/Shops/military.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sci_PB.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/military.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: Changes: Sprites, Changes: No C#

#294 minor price fix #2
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
Labels: Changes: No C#

#293 minor price fix
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: Changes: No C#

#292 Последний и все, Серычи.
  Resources/Prototypes/_Stalker/NPC/NPC_Group.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
Labels: Changes: No C#

#299 warcrimes
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: Changes: No C#

#302 Рюкзаки починка
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Back/backpacks.yml
Labels: Changes: No C#

#304 Куфей скрывает волосы
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
Labels: Changes: No C#

#303 Небольшой фикс рюкзаков.
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Back/backpacks.yml
Labels: Changes: No C#

#305 по идеи должно сработать. Смена префиксов
  Resources/Prototypes/_Stalker/ScriptedEntities/StalkerTeleportDublicate.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/StalkerTeleportTest.yml
Labels: Changes: No C#

#309 ASSaultDolg
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/AssaultHelmet.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_dolg.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_dolg.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_dolg.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_dolg.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_dolg.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/hats/dolg_head.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/dolg_head.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/dolg_head.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/dolg_head.rsi/inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#312 Update torgomats
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/military.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
Labels: Changes: No C#

#310 Ренейм вещей авангарда в вещи долга
  Resources/Prototypes/_Stalker/Entities/Mobs/rolesSpawners.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Legs/pants.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Jacket.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Torso/turtlenecks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Tools/skinstools.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Shops/dolg.yml
  Resources/Prototypes/_Stalker/pda.yml
Labels: Changes: No C#

#311 Ренегаты, рескины и фикс багов.
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorZarya.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorPSZ7.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSeva.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/icon-flash.png
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/meta.json
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/seva_renegat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/seva_renegat.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/seva_renegat.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/tegilla_rene.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/tegilla_rene.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/psz7-palionka.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/psz7-palionka.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/psz7-palionka.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/rene_zarya.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/rene_zarya.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#313 bruh
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/rcbz-freedom.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#

#314 Торговые автоматы по таблице
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sci_PB.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
Labels: Changes: No C#

#319 ревертим реверт ренегатов
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorZarya.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorPSZ7.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSeva.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/icon-flash.png
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/meta.json
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/Head/seva_helmrenegat.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/seva_renegat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/seva_renegat.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/OuterClothing/seva_renegat.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/tegilla_rene.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/tegilla_rene.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/plate_rene.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/psz7-palionka.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/psz7-palionka.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/psz7-palionka.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/rene_zarya.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/rene_zarya.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/outerClothing/renegate_il.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#321 NerfScorpion
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Vz_61_Scorpion.yml
Labels: Changes: No C#

#326 ana fix
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ANATactical.yml
Labels: Changes: No C#

#329 Stalker16
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
Labels: Changes: No C#

#330 Small Fix Price
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: Changes: No C#

#335 добавил ренегатам в торгомат магазин скорпиона
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: Changes: No C#

#336 магазин мп5 сидору
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
Labels: Changes: No C#

#337 дал серафимам в торгомат штуки
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
Labels: Changes: No C#

#338 Убрал ЧН покупку контрабанды
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
Labels: Changes: No C#

#339 Update Dolg Torgomat
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
Labels: Changes: No C#

#342 Проект наборы и фикс дверей военных.
  Resources/Prototypes/_Stalker/Entities/Structures/Doors/Airlocks/base.yml
  Resources/Prototypes/_Stalker/caches/ProectCaches.yml
Labels: Changes: No C#

#341 Цены и фиксы детекторов.
  Resources/Locale/ru-RU/_stalker/aritfact_detectors.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Detectors/artifact.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
Labels: Changes: No C#

#340 Маска и Магазин для жаб.
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9x19.yml
Labels: Changes: No C#

#344 FIX FIX FIX
  Resources/Prototypes/_Stalker/Anomaly/generation_options.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorRCBZ.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/stalkers.yml
  Resources/Textures/_Stalker/Groups/Project/rcbz_helm_pj5.rsi/icon-flash.png
  Resources/Textures/_Stalker/Groups/Project/rcbz_helm_pj5.rsi/meta.json
  Resources/Textures/_Stalker/Groups/Project/rcbz_helm_pj5.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Groups/Project/rcbz_helm_pj5.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz.rsi/icon-flash.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz_cn.rsi/icon-flash.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz_cn.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz_cn.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/gasmask_rhbz_cn.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-dolg-helmet.rsi/icon-flash.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-dolg-helmet.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-dolg-helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-dolg-helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-freedom-helmet.rsi/icon-flash.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-freedom-helmet.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-freedom-helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-freedom-helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-serafim-helmet.rsi/icon-flash.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-serafim-helmet.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-serafim-helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/rcbz-serafim-helmet.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, Changes: No C#

#345 продажа оружия бандосам
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
Labels: Changes: No C#

#348 Хранилище материалов наконец то работают.
  Resources/Prototypes/_Stalker/Caches/hidden_caches/base.yml
  Resources/Prototypes/_Stalker/caches/BlueprintsSource.yml
  Resources/Prototypes/_Stalker/caches/CraftComponentSource.yml
Labels: Changes: No C#

#350 Mutant damage2
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/_Stalker/Damage/containers.yml
  Resources/Prototypes/_Stalker/Damage/groups.yml
  Resources/Prototypes/_Stalker/Damage/types.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/Boss/cuckold.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/bush.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/rat.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/psidog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/snork.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/bloodsucker.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/byurer.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/oracle.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/pseudogiant.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/zombie.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T4/gosha.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/base.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/mutantsDamageModifySets.yml
Labels: Changes: No C#

#349 Генератор аномалий и солнце.
  Resources/Prototypes/_Stalker/Anomaly/generation_options.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Anomalies/thermal.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Detectors/artifact.yml
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response_cvoboda.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#

#352 Починил все детекторы.
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Detectors/artifact.yml
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/hunter.rsi/screen_detected.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/hunter.rsi/screen_off.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/pulse.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/pulse.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/pulse.rsi/screen_detected.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/pulse.rsi/screen_off.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/pulse.rsi/screen_on.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response.rsi/active.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Devices/ArtifactDetectors/response_cvoboda.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#

#353 Торгоматы и фиксы.
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/psidog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/snork.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/medkits.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sci_PB.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
Labels: Changes: No C#

#355 Fix sci shope
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorSSP24.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: Changes: No C#

#361 Починил Худ и ошибку.
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Prototypes/_Stalker/hud.yml
  Resources/Prototypes/_Stalker/themes.yml
  Resources/Textures/_Stalker/Interface/STDefault/slot_highlight.png
Labels: Changes: No C#

#364 Фикс платкой Кинолога и Серафимы.
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorZarya.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/OuterArmorHeavy.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
Labels: Changes: No C#

#366 hotfix
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/military.yml
Labels: Changes: No C#

#367 Update ClearSky Torgomat
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
Labels: Changes: No C#

#369 Dublicate fix
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x18.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9x18.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
Labels: Changes: No C#

#370 Ержан с покерными картами
  Resources/Prototypes/_Stalker/ShopPresets/PawnShops/ErjanAlimov.yml
Labels: Changes: No C#

#368 Удалил Кинолог
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/stalkers.yml
Labels: Changes: No C#

#371 Патроны починил дробь
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/12x70.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12x70.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/base-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/beanbag-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/beanbag.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/bullet-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/bullet_RIP-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/express-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/flechette-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/magnum-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/zabIl-spent.png
Labels: Changes: Sprites, Changes: No C#

#387 Revert "Update blinddog.yml"
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/blinddog.yml
Labels: Changes: No C#

#389 Stalker14 project master
  Resources/Audio/_Stalker/Mutants/blinddog_roar.ogg
  Resources/Audio/_Stalker/Mutated/Gosha/blinddog_roar.ogg
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/blinddog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/flesh.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/rat.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/rodent.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/spider.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/leshiy.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/pseudodog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/psidog.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T2/snork.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/bloodsucker.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/boar.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/byurer.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/controller.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/oracle.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/pseudogiant.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T3/zombie.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T4/goliath.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T4/gosha.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/base.yml
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/mutantsDamageModifySets.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/blinddog.yml
  Resources/Prototypes/_Stalker/HTNs/Mutants/gosha.yml
Labels: Changes: No C#

#395 Новый артефакт Фонарь
  Resources/Prototypes/_Stalker/Entities/Objects/Anomalies/psy.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/spatial.yml
  Resources/Textures/_Stalker/Objects/Anomalies/lamp.rsi/idle2.png
  Resources/Textures/_Stalker/Objects/Anomalies/lamp.rsi/meta.json
  Resources/Textures/_Stalker/Objects/artifacts.rsi/artifactFloodlight.png
  Resources/Textures/_Stalker/Objects/artifacts.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#393 Fix Detector
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Detectors/artifact.yml
Labels: Changes: No C#

#397 Orexsby nerf&db
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorYeger.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/Portals/groups.yml
Labels: Changes: No C#

#392 Fix 9x19, 9x18
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x18.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x19.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/base-spent.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/tip.png
Labels: Changes: Sprites, Changes: No C#

#398 Перекинул новые спрайты для ak12
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12.rsi/wielded-inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12sera.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12sera.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12sera.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12sera.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12sera.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/_Skins/ak12sera.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#373 Проф. Круглый пополнился хабаром
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: DO NOT MERGE, Changes: No C#

#400 Фиксы маски Буйвола
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
Labels: Changes: No C#

#406 Sprite 0.5 Scale
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/acidic.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/electrical.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/gravity.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/spatial.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/thermal.yml
Labels: Changes: No C#

#408 WTF
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
Labels: Changes: No C#

#396 WIP Фикс лагов
  Content.Server/_Stalker/Teleports/StalkerPortalSystem.cs
  Content.Server/_Stalker/Trash/RequestClearArenaGridsEvent.cs
  Content.Server/_Stalker/Trash/TrashDeletingSystem.cs
Labels: DO NOT MERGE

#419 access bringback
  Resources/Prototypes/_Stalker/ScriptedEntities/StalkerTeleportDublicate.yml
  Resources/Prototypes/_Stalker/ScriptedEntities/StalkerTeleportTest.yml
Labels: Changes: No C#

#410 Потрогала свои кастомки до финалочки
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSuit.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/AK_74.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/SCAR_H.yml
  Resources/Prototypes/_Stalker/_Sponsors/sponsor.yml
Labels: Changes: No C#

#426 Дверь для Оркестрата проекта
  Resources/Prototypes/_Stalker/Entities/Structures/Doors/Airlocks/base.yml
Labels: Changes: No C#

#425 Добавил новые шмотки ученым и другим
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
Labels: Changes: No C#

#417 Изменил контейнеры для артов
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/artifacts.yml
  Resources/Prototypes/_Stalker/Tags/tags.yml
Labels: Changes: No C#

#407 Фикс патронов и мусорки
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/12x70.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/44magnum.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/45acp.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/545x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/556x45.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/762x25.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/762x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/762x51.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/762x54.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x18.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x19.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x39.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Revolvers/ChiappaRhino_60DS.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Revolvers/Mateba.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Revolvers/base.yml
  Resources/Prototypes/_Stalker/caches/trash/base.yml
Labels: Changes: No C#

#411 Гроза Возращение
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Sig_550.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/StalkerGroza.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
Labels: Changes: No C#

#413 Вожу новый артефакт в экономику.
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sci_PB.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: Changes: No C#

#414 Nashivka
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/jaba.png
Labels: Changes: Sprites, Changes: No C#

#412 NATO GUNS
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/FN_FAL.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Galatz.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/Galil.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/L85.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/SCAR_H.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/Tompson.yml
Labels: Changes: No C#

#422 СОП апдате 2025
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/HeadClothing.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Legs/new_army_legs.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Torso/new_army_turtlenecks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/crates.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/vendors.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Shops/military.yml
  Resources/Prototypes/_Stalker/NPC/NPC_Group.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/military.yml
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/icon_mask.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/inhand-left.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/inhand-right.png
  Resources/Textures/_Stalker/Clothing/Head/Hats/balaklavahat.rsi/meta.json
  Resources/Textures/_Stalker/Clothing/Legs/Military/boxersmilitary.rsi/equipped-LEGS.png
  Resources/Textures/_Stalker/Clothing/Legs/Military/boxersmilitary.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/Legs/Military/boxersmilitary.rsi/inhand-left.png
  Resources/Textures/_Stalker/Clothing/Legs/Military/boxersmilitary.rsi/inhand-right.png
  Resources/Textures/_Stalker/Clothing/Legs/Military/boxersmilitary.rsi/meta.json
  Resources/Textures/_Stalker/Clothing/Torso/Military/tankmilitary.rsi/equipped-TORSO.png
  Resources/Textures/_Stalker/Clothing/Torso/Military/tankmilitary.rsi/icon.png
  Resources/Textures/_Stalker/Clothing/Torso/Military/tankmilitary.rsi/inhand-left.png
  Resources/Textures/_Stalker/Clothing/Torso/Military/tankmilitary.rsi/inhand-right.png
  Resources/Textures/_Stalker/Clothing/Torso/Military/tankmilitary.rsi/meta.json
  Resources/Textures/_Stalker/NPC/Groups/prapor-military.rsi/icon.png
  Resources/Textures/_Stalker/NPC/Groups/prapor-military.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava4.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava4.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava4.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/shoes/portyanki.rsi/equipped-FEET.png
  Resources/Textures/_Stalker/Objects/Clothing/shoes/portyanki.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/shoes/portyanki.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/shoes/portyanki.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Decoration/military_green_box.rsi/broken.png
  Resources/Textures/_Stalker/Objects/Decoration/military_green_box.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/military_green_box.rsi/off.png
  Resources/Textures/_Stalker/Objects/Decoration/military_green_box.rsi/panel.png
  Resources/Textures/_Stalker/Objects/Decoration/military_lot_of_boxes.rsi/broken.png
  Resources/Textures/_Stalker/Objects/Decoration/military_lot_of_boxes.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Decoration/military_lot_of_boxes.rsi/off.png
  Resources/Textures/_Stalker/Objects/Decoration/military_lot_of_boxes.rsi/panel.png
  Resources/Textures/_Stalker/Objects/Devices/radio.rsi/base.png
  Resources/Textures/_Stalker/Objects/Devices/radio.rsi/broadcasting.png
  Resources/Textures/_Stalker/Objects/Devices/radio.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Devices/radio.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Devices/radio.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Devices/radio.rsi/speaker.png
  Resources/Textures/_Stalker/Structures/Furniture/olive_bag.rsi/icon.png
  Resources/Textures/_Stalker/Structures/Furniture/olive_bag.rsi/inhand-left.png
  Resources/Textures/_Stalker/Structures/Furniture/olive_bag.rsi/inhand-right.png
  Resources/Textures/_Stalker/Structures/Furniture/olive_bag.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#433 Monolithotfix
  Resources/migration.yml
Labels: Changes: No C#

#443 Сидорович продавал два контейнера
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
Labels: Changes: No C#

#442 BluePrintBack
  Resources/Prototypes/_Stalker/Entities/Objects/Craft/Recipes/OuterClothing/armorT1.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
Labels: Changes: No C#

#441 Small Fix medicine
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/medicine.yml
Labels: Changes: No C#

#439 балаклавы апдате
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/balaklavas.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Mask/mask.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/military.yml
  Resources/Textures/_Stalker/Icons/Patches/band.rsi/army.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/icon_head.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava1.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/icon_head.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava2.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/equipped-MASK.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/icon_head.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/mask/balaklava3.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#444 Порядок в мусорке.
  Resources/Prototypes/_Stalker/caches/trash_detectors.yml
Labels: Changes: No C#

#445 Маленький фикс
  Resources/Prototypes/_Stalker/caches/trash_detectors.yml
Labels: Changes: No C#

#457 Orexsby goodbye monolith
  Resources/Prototypes/_Stalker/Maps/stalker.yml
  Resources/migration.yml
Labels: Changes: No C#

#459 Понизил урон он кислоты до 40% у РХБЗ
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorRCBZ.yml
Labels: Changes: No C#
